# Core dependencies (always required)
jupyter
pandas
numpy
flask
flask-cors
flask-limiter
openai
python-dotenv
vega_datasets
litellm
duckdb
vl-convert-python
backoff
beautifulsoup4
scikit-learn
yfinance # for demo stream routes

# External data loaders (Azure, BigQuery, AWS S3, MySQL, MSSQL)
#azure-identity
#azure-kusto-data
#azure-keyvault-secrets
#azure-storage-blob
#google-cloud-bigquery
#google-auth
#db-dtypes
#boto3
pymysql
#pyodbc
#pymongo

# Install data_formulator itself in editable mode
-e .